*{
    box-sizing: border-box
}

body {
    background: #246;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    min-height:100%;
  }


h2{
      background: #fff;
      color: #000000;
      padding: 10px;
  }

.App{
    background: #F0F092;
    padding: 30px;
    width: 80%;
    margin: 50px auto;
    box-shadow: 5px 5px 5px #000000
}

input[type="text"]{
    width: 80%;
    border:none;
    padding: 6px 10px;
    background: #fff
}

button,input[type="submit"]{
    width: 20%;
    border: none;
    padding: 6px 0px;
    margin: 0%;
    outline: 0%;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    background: #3CB371;border-radius: 2px;
    box-shadow: 2px 2px 2px #2c2c2c

}
ul{
    list-style: none;
    padding: 0%;
}
li{
    margin: 15px 0px;
}
li span{
    display: inline-block;
    width: 60%;
    color: #3F3F3D
}
li > button:first-of-type{
width: 19%;
margin-right: 1%;
background: #8a8989;
}

li > button:last-of-type{
background: #F64242
}

ul>form{
    margin: 15px 0px
}
@media only screen and (max-width: 600px) {
  }